// Variables

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.page {
  padding: $spacer;
}

.label {
  white-space: normal;
  width: 150px;
}

.green {
  background-color: lightgreen;
}
.black {
  background-color: yellow;
}
.farmcontrol {
  padding: 0px 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  width: 118px;
}
